<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>


    <table>

        <tr>
            <td>
                <form action="admin/index">
                    <button type="submit">Вход для администратора</button>
                </form>
            </td>

            <td>
                <form action="user/page">
                    <button type="submit">Вход для пользователя</button>
                </form>
            </td>

            <td>
                <form action="/cars?count=1">
                    <button type="submit">Вход для страницы с авто(get запросы)</button>
                </form>
            </td>
        </tr>

    </table>
</div>
</body>
</html>